* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 20px;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
select {
  border: 0px;
  background: #fff;
  width: 75%;
}

#signup-button {
  background-color: #16a6d6;
  border: none;
  color: white;
  padding: 12px 35px;
}

#margin1 {
  margin: 10px 20px 20px 20px;
  line-height: 1.5;
  font-size: larger;
}

#top-heading {
  margin-bottom: 10px;
  font-size: 35px;
}

#top-image {
  background: url("./images/pics-top-section_4360x1500.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 260px;
}

main {
  margin: 5% 5% 0 5%;
  /* justify-content: center; */
  /* align-items: center; */
}

#text1 {
  font-size: 30px;
  text-align: center;
  color: rgb(114, 113, 113);
}

#rolodex1 {
  gap: 5%;
  margin: 50px auto;
  display: flex;
  margin-bottom: 7%;
}

#rolodex1-text {
  font-size: 16px;
  text-align: center;
  color: rgb(89, 88, 88);
}

#section-heading {
  text-align: center;
  margin-top: 5%;
}

#section-heading h2 {
  font-weight: normal;
  font-size: 45px;
}

#rolodex2 {
  gap: 5%;
  margin: 50px auto;
  display: flex;
  /* margin-bottom: 10%; */
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8%;
  row-gap: 5%;
}

.benefits-div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

#collection-heading {
  text-align: center;
  margin-top: 5%;
}

#collection-heading h2 {
  font-weight: normal;
  font-size: 35px;
}

#collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
  column-gap: 10%;
}

#collection1 {
  background: url("./images/collection-startup_460x184.png");
  background-position: center;
  background-size: cover;
  height: 1rem;
  width: 50rem;
  color: #fff;
  text-align: center;
  padding: 10%;
}

#collection2 {
  background: url("./images/collection-ml_461x184.png");
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 45em;
  color: #fff;
  text-align: center;
  padding: 10%;
}

#collection h4 {
  font-size: x-large;
  font-weight: normal;
}

#collection-text {
  text-align: center;
  color: rgb(85, 82, 82);
}

#using-heading {
  text-align: center;
  margin-top: 5%;
}

#using-heading h2 {
  font-weight: lighter;
  font-size: 35px;
}

#using {
  margin-top: 3%;
  background-color: rgb(245, 239, 239);
  padding: 0 10%;
  padding-top: 3%;
  padding-bottom: 0.5%;
}

#using-container {
  margin: 5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  row-gap: 30%;
  column-gap: 20%;
  padding-bottom: 3%;
}

#using-text {
  text-align: center;
  color: rgb(85, 82, 82);
  margin-bottom: 4%;
}

#tag, #support {
  text-align: center;
  margin: auto;
  padding: 5rem;;
}

#tag h4, #support h4{
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 40px;
}

#tag-button {
  background-color: #128fb9;
  border: none;
  color: white;
  padding: 15px 15px;
}

input[type=text] {
  width: 45%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid rgb(184, 183, 183);
  box-sizing: border-box;
}

#support{
  background-color: rgb(245, 239, 239);
}

#support div{
  display: flex;
  justify-content: center;
  column-gap: 10%;
}

footer{
  text-align: center;
}

#line1{
  background-color: rgb(57, 67, 77);
  color: cyan;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#line2{
  background-color: rgb(16, 21, 27);
  color: rgb(238, 255, 255);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

i{
  display: inline;
}

#line3{
  color: white;
}