@media (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body{
    border: red solid 2px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
    overflow: hidden;
    position: relative;
  }

  .others {
    display: none;
  }
  
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  select {
    border: 0px;
    background: #fff;
    width: 75%;
  }

  nav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
  }

  #top-image {
    background: url("./images/pics-top-section_4360x1500.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10%;
  }

  #top-heading {
    margin-bottom: 10px;
    font-size: 25px;
    padding: 0 15%;
  }

  #top-text {
    margin: 10px 20px 15px 20px;
    /* padding-bottom: 550px; */
    line-height: 1.5;
    font-size: normal;
  }

  #signup-button {
    background-color: #16a6d6;
    border: none;
    color: white;
    padding: 3% 5%;
  }
  
  main {
    margin: 5% 5% 5% 5%;
  }

  #text1 p {
    text-align: center;
    color: rgb(114, 113, 113);
  }

  #collections {
    font-size: small;
    margin: 50px auto;
    margin-bottom: 7%;
  }

  #collections-text {
    font-size: 16px;
    text-align: center;
    color: rgb(89, 88, 88);
  }


  #vcollection-heading {
    text-align: center;
    margin-top: 5%;
  }

  #vcollection-heading h2 {
    font-weight: normal;
    font-size: 22px;
    padding: 0 10px;
  }

  #vcollection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    column-gap: 10%;
  }

  #vcollection1 {
    background: url("./images/collection-startup_460x184.png");
    background-position: center;
    background-size: cover;
    height: 1rem;
    width: 50rem;
    color: #fff;
    text-align: center;
    padding: 10%;
  }

  #vcollection2 {
    background: url("./images/collection-ml_461x184.png");
    background-position: center;
    background-size: cover;
    height: 1em;
    width: 45em;
    color: #fff;
    text-align: center;
    padding: 10%;
  }

  #vcollection-text {
    padding: 0 5%;
    text-align: center;
    font-size: smaller;
    color: rgb(85, 82, 82);
  }

  #collections article {
    /* width: 33%; */
    padding-bottom: 2%;
  }

  #collections article img,
  #features article img {
    width: 100%;
  }

  .embed-share {
    padding:1% 1% 0 1%;
    background-color: lightgrey;
    border-radius: 5px;
    height: 28px;
    margin-top: 5px;
  }

  #section-heading {
    text-align: center;
    margin-top: 5%;
  }

  #section-heading h2 {
    font-weight: normal;
    font-size: 25px;
  }

  #features {
    margin: 20px auto;
  }

  .feature-heading {
    font-size: large;
    line-height: 40px;
  }

  #features article > :last-child{
    font-size: small;
  }

  #features article {
    /* width: 33%; */
    text-align: center;
    margin: 5%;
  }

  #benefits {
    width: 95%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .benefit {
    text-align: center;
  }

  .benefit-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
  }

  .benefit-div > :first-child {
    font-size: large;
    line-height: 40px;
  }

  .benefit-div > :last-child {
    font-size: small;
    /* line-height: 40px; */
  }

  .benefit img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  #using-heading {
    text-align: center;
    margin-top: 5%;
  }

  #using-heading h2 {
    font-weight: lighter;
    font-size: 22px;
  }

  #using {
    margin-top: 3%;
    background-color: rgb(245, 239, 239);
    /* padding: 0 20%; */
    padding-top: 3%;
    padding-bottom: 0.5%;
  }

  #using-container {
    margin: 5%;
    align-items: center;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;
    align-content: center;
    /* row-gap: 30%; */
    /* column-gap: 20%; */
    padding-bottom: 3%;
  }

  #using-text {
    padding: 0 20%;
    text-align: center;
    color: rgb(85, 82, 82);
    margin-bottom: 4%;
  }

  #tag,
  #support {
    text-align: center;
    /* margin: auto; */
    padding: 2em 5em;
  }

  #tag h4{
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
  }

  #tag-button {
    background-color: #128fb9;
    border: none;
    color: white;
    padding: 10px 10px;
  }

  input[type="text"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid rgb(184, 183, 183);
    box-sizing: border-box;
  }

  #support {
    background-color: rgb(245, 239, 239);
  }

  #support h4 {
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
  }
  
  #support div {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
  }

  footer {
    text-align: center;
  }

  #line1 {
    background-color: rgb(57, 67, 77);
    color: rgb(8, 186, 186);
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: smaller;
    align-items: flex-end;
  }

  #line2 {
    background-color: rgb(16, 21, 27);
    color: rgb(238, 255, 255);
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }

  i {
    display: inline;
  }

  #line3 {
    color: white;
  }

  .vbar {
    color: white;
  }
}
